"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "8368f98b-5fe0-b6e7-dba2-dded6642396a"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
